@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Advent Pro', sans-serif;
    background-color: black;
    color: #fff;

}

h1 {
    text-align: center;
    font-size: 72px;
    font-weight: 400;
    letter-spacing: 6px;
    animation: flicker 1.5s infinite alternate;
    color: #fff;
    animation: pulsate 1.5s infinite alternate; 
}

@keyframes pulsate {
    100% {
      /* Larger blur radius */
    text-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff,
        0 0 80px #fff,
        0 0 100px #fff,
        0 0 120px #fff,
        0 0 150px #fff,
        0 0 200px #fff;
    }
    0% {
      /* Smaller blur radius */
    text-shadow:
        0 0 2px #fff,
        0 0 4px #fff,
        0 0 6px #fff,
        0 0 10px #fff,
        0 0 45px #fff,
        0 0 55px #fff,
        0 0 70px #fff,
        0 0 80px #fff;
    }
}

h3 {
    font-weight: 300;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 151px #fff;
}

label {
    font-size: 24px;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
}

button{
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 8px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    background-color: rgb(51, 51, 51);
    color: lightgrey;
    margin: 30px;
    border-color: #fff;
    box-shadow: 
        0 0 5px #fff,
        0 0 18px #fff,
        0 0 10px #fff,
        0 0 12px #fffe,
        0 0 25px #fff,
        inset 0 0 20px #fff;
}

button:hover {
    border: none;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 151px #fff;
}

.tone-drums {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.tone-drum-pads {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.drum-pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
